body {
  font-style: normal;
  /*background: #F9F9F9;*/
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  font-family: "SF Pro Rounded", sans-serif;
}

.container, .container-sm, .container-md {
  max-width: 720px;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 1180px;
  }

  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

div{
  font-family: "SF Pro Rounded", sans-serif;
}

h1 {
  font-size: 47px;
}

p {
  font-size: 18px;
}

.img-top {
  position: relative;
  top: 50px;
}


html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden!Important;
}

/*.button:hover img{*/
/*  position: relative;*/
/*  left: 10px;*/
/*  transition: 0.3s;*/

/*}*/

/*.button {*/
/*  transition: 0.3s;*/
/*}*/

h1, h4, h2, h3, h5, h6{
  font-family: "semiBold"!Important;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Regular.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Light";
  src: url("../fonts/SF-Pro-Rounded-Light.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bold";
  src: url("../fonts/SF-Pro-Rounded-Bold.otf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "semi-Bold";
  src: url("../fonts/SF-Pro-Rounded-Medium.otf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "semiBold";
  src: url("../fonts/SF-Pro-Rounded-Semibold.otf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

button {
  font-family: "semi-Bold"!important;
}

a {

}

button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*button {*/
/* */
/*  border: 3px solid #fff;*/
/*  border-radius: 5px;*/
/*  color: #fff;*/
/*  display: block;*/
/*  font-size: 1.6em;*/
/*  font-weight: bold;*/
/*  margin: 1em auto;*/
/*  padding: 2em 6em;*/
/*  position: relative;*/
/*  text-transform: uppercase;*/
/*}*/

button::before,
button::after {
  background: #000;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;

}

@media screen and (max-width: 750px) {
  .top {
   margin-top: 20px;
  }

}

.card-box {
  box-shadow: 8px 8px 60px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.sub-text {
  color: #000000;
  opacity: 0.8;
  font-style: normal;
  font-family: "Light";
  font-weight: 400!important;
  font-size: 15px;
}

.sub-textt {
  font-family: "Light";
  font-weight: 400!important;

}


.dropdown-menu {
  border-radius: 8px;
  box-shadow: 0 5px 25px rgba(0,0,0,.1)!important;
}

.dropdown-menu {
  font-size: 13px;
  margin-top: 17px;
  border-radius: 8px!important;
  font-weight: 500;
  padding-top: 20px;
  background: #fff;
  border-color: rgba(33,33,33,.15);
}

.navbar-light .navbar-toggler-icon {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e)!important;
  filter: brightness(0) invert(1)!important;
}







